.modal {
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -350px;
    background-color:white;
    height:460px;
    width:700px;
    color:black;
    text-align:center;
}

#goQuiz {
    left:50%;
    background-color: white;
    color:white;
    height:45px;
    margin-left:520px;
    border-color:#ff3300;
    color: black;
    width: 160px;
    font-size: 25px;
    font-family: 'Satisfy', cursive;
}

#goQuiz:hover {
    background-color:#b30047;
    border-style:solid;
    border-color:#b30047;
}

#modalPics {
    height:350px;
   
}

#eyeshadow1{
    height: 150px;
    position: fixed;
    margin-left: -20;
}

#eyeshadow2{
    height: 150px;
    position: fixed;
    
}

#eyeshadow3{
    height: 100px;
    position: fixed;
    margin-left: 55px;
    
}

#eyeshadow4{
    height: 150px;
    position: fixed;
    margin-left: 55px;
    
}

#eyeshadow5{
    height: 150px;
    position: fixed;
    margin-left: 35px;
    
}

#eyeshadow6{
    height: 150px;
    position: fixed;
    margin-left: 55px;
    
}

#eyeshadow7{
    height: 150px;
    position: fixed;
    margin-left: -60px;
    
}

#eyeshadow8{
    height: 150px;
    position: fixed;
    margin-left: -10px;
    
}

#eyeshadow9{
    height: 150px;
    position: fixed;
    margin-left: 40px;
    
}
#eyeshadow10{
    height: 150px;
    position: fixed;
    margin-left: 40px;
}

#eyeshadow11{
    height: 150px;
    position: fixed;
    margin-left: 40px;
}


