h1 {
    text-align:center;
    color:#b30047;
    background-color:white;
    font-family: 'Satisfy', cursive;
}

body {
    background-color:black;
    color: white;
}

#quiz {
    text-align:center;
    background-color:#b30047;
}

.picture {
    width:300px;
    height:400px;
}

#logo {
    height:55px;
}

li {
    font-size:20px;
}
